<ChatbotWrap>
	<ChatbotList if={ page === 0 } onflowedit={ onFlowEdit } ongvaredit={ onGVarEdit } openingfolder={ openingFolder }></ChatbotList>
	<div if={ page === 1 }>
		<label>
			<span>{ __('Flow label') }</span>:
			<input type="text" class="flowlabel" value={ flowlabel }>
			<small class="accent-light-font">{ __('This is just a label for you to identify this flow. Like a file name. Put whatever you want in here.') }</small>
		</label>
		<label>
			<span>{ __('Mode') }</span>:
			<select class="mode" onchange={ onModeSelect }>
				<option value="0" selected={ flowmode.mode === 0 }>{ __('Chat command') }</option>
				<option value="1" selected={ flowmode.mode === 1 }>{ __('Channel point reward automation') }</option>
				<option value="2" selected={ flowmode.mode === 2 }>{ __('Free mode') }</option>
			</select>
		</label>
		<label if={ flowmode.mode == 0 }>
			<span>{ __('Command phrase') }</span>:
			<input type="text" data-flowprop="phrase" onchange={ onFlowpropChange } value={ flowmode.props.phrase }>
			<small class="accent-light-font">{ __('A command phrase that stands in front of the message. You should also use a symobl (like !) to make sure it is not triggered on accident.') }</small>
		</label>
		<label if={ flowmode.mode == 0 }>
			<span>{ __('Permission level') }</span>:
			<select data-flowprop="perm" onchange={ onFlowpropChange }>
				<option value="0" selected={ flowmode.props.perm === '0' }>{ __('Everyone') }</option>
				<option value="1" selected={ flowmode.props.perm === '1' }>{ __('Subscriber') }</option>
				<option value="2" selected={ flowmode.props.perm === '2' }>{ __('VIP') }</option>
				<option value="3" selected={ flowmode.props.perm === '3' }>{ __('Moderator') }</option>
				<option value="4" selected={ flowmode.props.perm === '4' }>{ __('Broadcaster') }</option>
			</select>
			<small class="accent-light-font">{ __('Select a badge that a user must have at least.') }</small>
		</label>
		<label if={ flowmode.mode == 0 }>
			<span>{ __('Cooldown') }</span>:
			<input type="number" min="0" data-flowprop="cooldown" onchange={ onFlowpropChange } value={ flowmode.props.cooldown }>
			<small class="accent-light-font">{ __('The minimum time in seconds that should pass before the command can be executed again.') }</small>
		</label>
		<label if={ flowmode.mode == 1 }>
			<span>{ __('Reward') }</span>:
			<select if={ flowrewardselection === null } data-flowprop="pointreward" disabled><option value={ flowmode.props.pointreward }>{ __('Please wait') }</option></select>
			<select if={ flowrewardselection !== null } data-flowprop="pointreward" onchange={ onFlowpropChange }>
				<option if={ flowrewardselection.length == 0 } value={ flowmode.props.pointreward }>{ __(flowrewarderror) }</option>
				<option each={ reward in flowrewardselection } value={ reward.id } selected={ flowmode.props.pointreward == reward.id }>{ reward.title }</option>
			</select>
			<small class="accent-light-font">{ __('Select the reward that triggers this flow.') }</small>
		</label>
		<label if={ flowmode.mode == 2 }>
			<span>{ __('Execution condition') }</span>:
			<conditionalgroupinput condgroup={ flowcond }></conditionalgroupinput>
		</label>
		<div class="btngrp">
			<button onclick={ onCancelFlowClick }>{ __('Cancel') }</button>
			<button onclick={ onSaveFlowClick }>{ __('Save') }</button>
			<button onclick={ onSaveAndCloseFlowClick }>{ __('Save and close') }</button>
		</div>
		<div class="step trigger">
			<i class="ms-Icon ms-Icon--LightningBolt"></i>
			<span><span>{ __(selectedTrigger.addon) }</span>: <b>{ __(selectedTrigger.label) }</b></span>
			
			<div class="btngrp" if={ flowmode.mode == 2 }>
				<button onclick={ onSelectTriggerClick }>{ __('Select Trigger') }</button>
				<button onclick={ onDebugClick }><i class="ms-Icon ms-Icon--BugSolid"></i></button>
				<button onclick={ onClearTriggerClick } if={ selectedTrigger.channel.length > 0 }><i class="ms-Icon ms-Icon--RecycleBin"></i></button>
			</div>
			<div class="btngrp" if={ flowmode.mode != 2 }>
				<button onclick={ onDebugClick }><i class="ms-Icon ms-Icon--BugSolid"></i></button>
			</div>
		</div>
		<floweditor id="chatbot_main_floweditor" flow={ flow } ondebugclick={ onDebugClick }></floweditor>
		<div class="step">
			<i class="ms-Icon ms-Icon--EntitlementRedemption"></i>
			<span>{ __('End of Flow') }</span>
			<span></span>
		</div>
	</div>
	<GlobalVarList if={ page === 2 } onbacktoflowlist={ onBackToFlowList }></GlobalVarList>

	<style>
		:host {
			display: block;
		}
		:host span.vr {
			display: inline-block;
			border: 1px solid #000000;
			width: 0;
			margin: 0 5px;
			height: 1em;
			vertical-align: text-bottom;
		}
		:host .sortbullet {
			margin-left: 10px;
		}
		:host .actionbar {
			margin: 10px;
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 5px;
			background: rgba(255, 255, 255, 0.03);
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
			border-radius: 5px;
			margin-bottom: 30px;
		}
		:host .actionbar > span.vr {
			margin-right: 10px;
		}
		:host .actionbar > button {
			margin-right: 5px;
			margin-bottom: 10px;
		}
		:host .actionbar > button > .ms-Icon {
			vertical-align: middle;
			margin-right: 5px;
		}

		:host > div > floweditor {
			margin: auto;
			width: 60%;
		}
		:host .step {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			width: calc(70% - 22px);
			border: 1px solid rgba(255, 255, 255, 0.3);
			margin: auto;
		}
		:host .step > .ms-Icon {
			font-size: 2em;
			margin-right: 10px;
		}
		:host .downarrow {
			display: block;
			height: 40px;
			width: 100%;
			background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEzIDMwIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyMCA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiA8c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojNUI1QjVDO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1taXRlcmxpbWl0OjEwO30NCgkuc3Qxe2ZpbGw6IzVCNUI1Qzt9PC9zdHlsZT4NCiA8cmVjdCB4PSI5IiB3aWR0aD0iMiIgaGVpZ2h0PSIzNy45NzQiIGZpbGw9IiM1MTUxNTEiIHN0cm9rZS13aWR0aD0iNC41MDYyIi8+DQogPHBvbHlnb24gdHJhbnNmb3JtPSJtYXRyaXgoMS4xNzg1IDAgMCAxLjE3ODUgLS42MDY5MiAyMy41NDQpIiBwb2ludHM9IjEuOTI4IDQuMDY1IDguOTk5IDExLjEzNiAxNi4wNzIgNC4wNjUgMTcuNDg2IDUuNDc5IDguOTk5IDEzLjk2NCAwLjUxNSA1LjQ3OSIgZmlsbD0iIzUxNTE1MSIvPg0KPC9zdmc+DQo=") center center no-repeat;
		}
		:host > div {
			padding: 10px 0;
		}
		:host > div > label {
			display: block;
			padding: 10px;
			width: 70%;
			margin: auto;
		}
		:host > div > label > input, :host > div > label > select {
			margin-top: 5px;
			display: block;
			box-sizing: border-box;
			width: 100%;
		}
		:host > div > label > small {
			display: block;
			margin-top: 5px;
			font-size: 12px;
		}
		:host > div > div.btngrp {
			display: block;
			padding: 10px;
			width: 70%;
			margin: auto;
			text-align: center;
		}
		
		:host > div > div.btngrp > button {
			margin: 5px;
		}
	</style>
	<script>
		const riot = require('riot');
		const ConditionalGroup = require('../lib/ConditionalGroup').default;
		import ChatbotList from './ChatbotList.riot';
		import ConditionalGroupInput from './ConditionalGroupInput.riot';
		import FlowEditor from './FlowEditor.riot';
		import GlobalVarList from './GlobalVarList.riot';
		riot.register('chatbotlist', ChatbotList);
		riot.register('conditionalgroupinput', ConditionalGroupInput);
		riot.register('floweditor', FlowEditor);
		riot.register('globalvarlist', GlobalVarList);

		let chatbotPage = null;

		export default {
			openingFolder: -1,

			page: 0,

			flowmode: { mode: 0, props: { phrase:'', perm: 'everyone', cooldown: '5' } },
			selectedTrigger: { label: 'No trigger selected', addon: '', channel: '', arguments: [] },
			flowobj: null,
			flow: [],
			flowlabel: '',
			flowcond: false,
			flowrewardselection: null,
			flowrewarderror: 'No point rewards found',

			chatbotlistRiot: null,
			rememberFolder: -1,

			onBeforeMount(props, state) {
				this.__ = global.TTVST.i18n.__;
				this.state.changesmade = false;
			},

			onMounted(props, state) {
			},

			refreshChannelPointRewards() {
				this.flowrewardselection = null;
				const self = this;
				ipcRenderer.invoke('app.ttvst.chatbot.getChannelPointRewards').then((rewards) => {
					self.flowrewardselection = rewards.data;
					if(self.flowrewardselection.length == 0) {
						self.flowrewarderror = 'No point rewards found';
					}
					self.update();
				}).catch((e) => {
					self.flowrewardselection = [];
					if(e.message.endsWith('not logged in')) {
						self.flowrewarderror = 'Please log in to select reward';
					} else if(e.message.endsWith('channel points are not available for the broadcaster')) {
						self.flowrewarderror = 'Your channel has no points enabled';
					}
					self.update();
				});
			},

			onModeSelect(e) {
				this.flowmode.mode = parseInt(e.currentTarget.value);
				if(this.flowmode.mode == 0) {
					this.flowmode.props = Object.assign({ phrase:'', perm: '0', cooldown: '5' }, this.flowmode.props);
					
					let triggers = TTVST.Broadcast.getTrigger({ channel: 'app.ttvst.tmi.message' });
					if(triggers.length == 1) {
						this.selectedTrigger = triggers[0];
					}
				} else if(this.flowmode.mode == 1) {
					this.flowmode.props = Object.assign({ pointreward: '' }, this.flowmode.props);

					let triggers = TTVST.Broadcast.getTrigger({ channel: 'app.ttvst.pubsub.reward' });
					if(triggers.length == 1) {
						this.selectedTrigger = triggers[0];
					}
					this.refreshChannelPointRewards();
				} else if(this.flowmode.mode == 2) {
					this.flowmode.props = Object.assign({}, this.flowmode.props);
				}
				this.onFlowpropChange();
				this.update();
			},

			async onFlowpropChange(e) {
				if(typeof(e) !== 'undefined') {
					let inp = e.currentTarget;
					let prop = inp.dataset.flowprop;
					this.flowmode.props[prop] = inp.value;
				}

				if(this.flowmode.mode == 0) {
					let reg = '^' + this.flowmode.props.phrase.replace(/([^\w\s])/gi, '\\$1') + '(\\s|$)';
					let permcond = [];
					let perm = parseInt(this.flowmode.props.perm);
					if(perm <= 1) permcond.push({ discriminator: 'Condition', left: '${permissions["isSubscriber"]}', compare: 'true', right: '' });
					if(perm <= 2) permcond.push({ discriminator: 'Condition', left: '${permissions["isVIP"]}', compare: 'true', right: '' });
					if(perm <= 3) permcond.push({ discriminator: 'Condition', left: '${permissions["isModerator"]}', compare: 'true', right: '' });
					if(perm <= 4) permcond.push({ discriminator: 'Condition', left: '${permissions["isBroadcaster"]}', compare: 'true', right: '' });
					if(perm == 0) permcond = [];
					
					this.flowcond = new ConditionalGroup({
						discriminator: 'ConditionGroup',
						conditions: [
							{ discriminator: 'Condition', left: '${SecondsSinceLastExecution}', compare: 'ge', right: this.flowmode.props.cooldown },
							{ discriminator: 'Condition', left: '${message}', compare: 'matchi', right: reg },
							{
								discriminator: 'ConditionGroup',
								conditions: permcond,
								operator: 'or'
							}
						],
						operator: 'and'
					});
				} else if(this.flowmode.mode == 1) {
					this.flowcond = new ConditionalGroup({
						discriminator: 'ConditionGroup',
						conditions: [
							{ discriminator: 'Condition', left: '${rewardid}', compare: 'eqc', right: this.flowmode.props.pointreward }
						],
						operator: 'and'
					});
				}
				this.state.changesmade = true;
			},

			async onSelectTriggerClick() {
				let triggerChannel = await TTVST.ui.selectTrigger(this.selectedTrigger.channel);
				if(triggerChannel !== null) {
					let triggers = TTVST.Broadcast.getTrigger({ channel: triggerChannel });
					if(triggers.length == 1) {
						this.selectedTrigger = triggers[0];
						this.state.changesmade = true;
						this.update();
					}
				}
			},

			async onClearTriggerClick() {
				this.selectedTrigger = { label: 'No trigger selected', addon: '', channel: '' };
				this.state.changesmade = true;
				this.update();
			},

			async onFlowEdit(flow) {
				this.selectedTrigger = { label: 'No trigger selected', addon: '', channel: '' };
				this.page = 1;
				this.flowobj = flow;
				this.flow = flow.flow;
				this.flowlabel = flow.name;
				this.flowcond = flow.conditionals;
				if(flow.trigger !== null) {
					let triggers = TTVST.Broadcast.getTrigger({ channel: flow.trigger });
					if(triggers.length == 1) {
						this.selectedTrigger = triggers[0];
					}
				}
				this.flowmode = flow.mode;
				if(this.flowmode.mode == 1) {
					this.refreshChannelPointRewards();
				}

				this.update();
			},

			async onCancelFlowClick() {
				this.openingFolder = this.flowobj.superior;
				this.flowobj = null;
				this.page = 0;
				this.state.changesmade = false;
				this.update();
			},

			async onSaveFlowClick(e) {
				let cgi = this.$('conditionalgroupinput')
				let fe = this.$('floweditor')
				let feSym = global.TTVST.getRiotComponent(fe);

				this.flowobj.name = this.$('input.flowlabel').value;
				this.flowobj.flow = feSym.state.steps;
				this.flowobj.trigger = this.selectedTrigger.channel;

				this.flowobj.mode = { mode: this.flowmode.mode, props: {} };
				if(this.flowmode.mode == 0) {
					this.flowobj.mode.props = { phrase: this.flowmode.props.phrase, perm: this.flowmode.props.perm, cooldown: this.flowmode.props.cooldown };
				} else if(this.flowmode.mode == 1) {
					this.flowobj.mode.props = { pointreward: this.flowmode.props.pointreward };
				}
				if(this.flowmode.mode == 2) {
					let cgiSym = global.TTVST.getRiotComponent(cgi);
					this.flowobj.conditionals = cgiSym.condgroup;
				} else {
					this.flowobj.conditionals = this.flowcond;
				}

				await this.flowobj.save();

				if(typeof(e) !== 'undefined') {
					let check = document.createElement('i');
					let target = e.currentTarget ?? e.target;
					check.className = 'ms-Icon ms-Icon--CheckMark';
					check.style.marginLeft = '5px';
					target.appendChild(check);
					setTimeout(() => {
						target.removeChild(check);
					}, 2000);
				}
				
				ipcRenderer.send('app.ttvst.chatbot.registerFlows');
			},

			async onSaveAndCloseFlowClick() {
				await this.onSaveFlowClick();

				this.openingFolder = this.flowobj.superior;
				this.flowobj = null;
				this.page = 0;
				this.state.changesmade = false;
				this.update();
			},

			onGVarEdit(currentfolder) {
				this.rememberFolder = currentfolder;
				this.page = 2;
				this.update();
			},

			onBackToFlowList() {
				this.openingFolder = this.rememberFolder;
				this.page = 0;
				this.update();
			},

			getMoreContextVars() {
				let vars = [];
				if(this.page === 1) {
					vars.push({ name: 'FlowName', type: 'string' });
					vars.push({ name: 'LastExecutionTime', type: 'number' });
					vars.push({ name: 'SecondsSinceLastExecution', type: 'number' });

					console.log(this.selectedTrigger);
					if(this.selectedTrigger.channel.length > 0) {
						for(let i = 0; i < this.selectedTrigger.arguments.length; i++) {
							let t = this.selectedTrigger.arguments[i].type;
							if(t === 'list') t = 'array';
							if(t === 'assoc') t = 'object';
							vars.push({ name: this.selectedTrigger.arguments[i].label, type: t });
						}
					}

					let fe = this.$('floweditor#chatbot_main_floweditor')
					let feSym = global.TTVST.getRiotComponent(fe);

					vars = vars.concat(feSym.getContextVars()[0]);
				}
				return vars;
			},

			async onDebugClick(step, flowupdated) {
				if(this.flowobj !== null) {
					let result = await ipcRenderer.invoke('app.ttvst.chatbot.getDebug', this.flowobj.key, typeof(step) !== 'string' ? '_-1' : step);


					let errormsg = document.createElement('div');errormsg.style.fontWeight = 'bold';errormsg.style.color='red';
					if((typeof(flowupdated) === 'boolean' && flowupdated) || this.state.changesmade) {
						errormsg.innerText = this.__('Flow was changed. Data may not match.');
						errormsg.style.marginBottom = '10px';
					}
					
					let lblTime = document.createElement('div');lblTime.style.fontWeight = 'bold';lblTime.innerText = this.__('Point reached last at:');
					let time = document.createElement('div');time.innerText = result.created < 0 ? this.__('No data') : TTVST.DateFormat(new Date(result.created), 'yyyy-mm-dd HH:MM:ss');

					let lblData = document.createElement('div');lblData.style.fontWeight = 'bold';lblData.style.marginTop = '10px';lblData.innerText = this.__('Data:');
					let data = document.createElement('pre');data.innerText = JSON.stringify(result.data, null, '  ');
					data.style.border = '1px solid #000';data.style.padding = '5px';data.style.background = '#161616';data.style.margin = '0';data.style.borderRadius = '5px';
					data.style.overflowWrap = 'break-word';data.style.whiteSpace = 'pre-wrap';data.style.userSelect = 'text';


					let nfmodal = TTVST.ui.modal([errormsg, lblTime, time, lblData, data], 'Step debug information', 'BugSolid', () => {}, [{ key: 'ok', title: 'OK' }], true);
				}
			}

		}
	</script>
</ChatbotWrap>