<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Advanced Help</title>
		
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https://*; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'">

		<script type="application/javascript">
			const {shell, remote} = require('electron')
			const {systemPreferences, BrowserWindow, app} = remote
			const fs = require('fs')
			const path = require('path')
			let appPath = app.getAppPath()
			const less = require(appPath + '\\node_modules\\less')

			const openLinkExternal = function(url) {
				shell.openExternal(url)
			}
		</script>
		<style type="text/css" id="metro-style"></style>
		<style type="text/css">
			body {
				user-select: text;
			}
			code, pre {
				background: #000000;
				padding: 3px;
				border-radius: 3px;
			}
		</style>
	</head>
	<body>
		<script type="application/javascript">
			if (typeof module === 'object') {window.module = module; module = undefined;}
			let body = document.querySelector('body')
			let metroScriptElement = document.createElement('script')
			metroScriptElement.setAttribute('type', 'application/javascript')
			metroScriptElement.setAttribute('src', appPath + '/res/js/metro.js')
			body.appendChild(metroScriptElement)
		</script>
		<script type="application/javascript">if (window.module) module = window.module;</script>

		<h1>Advanced Help</h1>
		<h4>Content</h4>
		<ol>
			<li><a href="#chapter_1">Command trigger</a>
				<ol>
					<li><a href="#chapter_1_1">Classic user command</a></li>
					<li><a href="#chapter_1_2">New follower</a></li>
					<li><a href="#chapter_1_3">Subscription</a></li>
					<li><a href="#chapter_1_4">Host</a></li>
					<li><a href="#chapter_1_5">Overlay command</a></li>
					<li><a href="#chapter_1_6">Timer</a></li>
					<li><a href="#chapter_1_7">Channel point rewards</a></li>
				</ol>
			</li>
			<li><a href="#chapter_2">Dynamic output</a>
				<ol>
					<li><a href="#chapter_2_1">Statement</a>
						<ol>
							<li><a href="#chapter_2_1_1"><code>print</code></a></li>
							<li><a href="#chapter_2_1_2"><code>set</code></a></li>
							<li><a href="#chapter_2_1_3"><code>add</code> / <code>sub</code></a></li>
							<li><a href="#chapter_2_1_4">Conditions</a></li>
							<li><a href="#chapter_2_1_5"><code>wait</code></a></li>
							<li><a href="#chapter_2_1_6"><code>delete</code></a></li>
						</ol>
					</li>
					<li><a href="#chapter_2_2">Variables</a>
						<ol>
							<li><a href="#chapter_2_2_1">Argument</a></li>
							<li><a href="#chapter_2_2_2">Context</a></li>
							<li><a href="#chapter_2_2_3">Storage</a></li>
							<li><a href="#chapter_2_2_4">HTTP request</a></li>
							<li><a href="#chapter_2_2_5">Read/Write File</a></li>
						</ol>
					</li>
					<li><a href="#chapter_2_3">Preprocessing</a></li>
				</ol>
			</li>
		</ol>

		<h2 id="chapter_1">1. Command trigger</h2>
		<p>
			Although the usual trigger is probably a user-typed command, there are a few more ways to trigger a command.
		</p>
		<h3 id="chapter_1_1">1.1. Classic user command</h3>
		<p>
			The classic user command is a simple phrase that starts at the beginning of a user's chat message. Unlike
			common bots, TTVST also allows you to use spaces in this phrase. It is strongly discouraged to avoid
			confusion. There is no specific way to create such a trigger. Just put your phrase in the command box. It is
			strongly recommended to hang a symbol (e.g. !, ~) at the start so that the command is not executed. Slashes
			(/) cannot be used because they are recognized by Twitch as a command and not are processed as a message.
			For this reason slashes are used by TTVST to create other triggers.<br>
			Classic user commands can also be triggered by any other command.
		</p>
		<h3 id="chapter_1_2">1.2. New follower</h3>
		<p>
			This trigger will be active on every new follower. There is nothing else to consider. The command is simply
			<code>/follow</code>.
		</p>
		<h3 id="chapter_1_3">1.3. Subscription</h3>
		<p>
			This trigger will be active with every new subscriber. Similar to the followers there is nothing else to
			consider. Information about the subscription can be retrieved using the <a href="#chapter_2_2_1">argument
			variables.</a> The command is simply <code>/sub</code>.
		</p>
		<h3 id="chapter_1_4">1.4. Host</h3>
		<p>
			This trigger will be active on every host or raid. Similar to the followers and subscriptions, there is
			nothing else to consider. The number of viewers can be retrieved using the <a href="#chapter_2_2_1">argument
			variables</a>. The command is simply <code>/host</code>.
		</p>
		<h3 id="chapter_1_5">1.5. Overlay command</h3>
		<p>
			This trigger "abuses" the overlay commands to execute chatbot commands. This makes it possible to send
			messages via hotkey. To intercept an overlay command (whether via a hotkey or an HTTP request), start with
			<code>/cmd</code> in the command and write the overlay command behind it. It does not matter if an overlay
			actually does something with the command or not. To trigger the command <code>/cmd foobar</code> you either
			need a hotkey with the <code>foobar</code> command or make an http request on
			<code>http://localhost:8090/send?foobar</code>
		</p>
		<h3 id="chapter_1_6">1.6. Timer</h3>
		<p>
			Timed commands can be executed with <code>/timer</code>. The clock is controlled over the cooldown time.
			The distance must be at least 10 seconds.<br>
			A <a onclick="openLinkExternal('https://time.is/Unix_time_converter')">Unix timestamp</a> can be used to run
			the command once at a specific time.
		</p>
		<h3 id="chapter_1_7">1.7. Channel point rewards</h3>
		<p>
			This trigger will be active on every custom channel points reward redemption. The reward title and the cost of the
			reward will be available through the <a href="#chapter_2_2_1">argument variables</a> %1 and %2.
			The trigger requires the reward title like this: <code>/redeemed Rewardtitle</code>.
		</p>

		<h2 id="chapter_2">2. Dynamic output</h2>
		<p>
			In addition to a simple output, statements can also be used in the command output to generate dynamic output.
		</p>
		<h3 id="chapter_2_1">2.1. Statement</h3>
		<p>
			Statements are surrounded by curly braces with percent signs: <code>{% <i>(statement)</i> %}</code>. Whether the
			statement is correct or not, it will never be output in the final output. So that they can of course also be
			used as comments. The instructions are neither checked for errors nor are error messages issued. If a
			statement is not executed, the syntax should always be checked before a program error is considered.
		</p>
		<h3 id="chapter_2_1_1">2.1.1. <code>print</code></h3>
		<p>
			The <code>print</code> statement supports only one argument and is intended for the output of variables.<br>
			<strong>Example:</strong><br>
			<code>{% print %1 %}</code> - Returns argument #1.
		</p>
		<h3 id="chapter_2_1_2">2.1.2. <code>set</code></h3>
		<p>
			The <code>set</code> statement sets a variable to a value and requires 3 arguments: source, direction, and destination.
			The direction must always be the middle argument and always point to the destination. Possible directional
			arguments are:
			<ul>
				<li><code style="display:inline-block;text-align:left;width:40px;">&gt;</code><span style="width:20px;display:inline-block"></span>from left to right</li>
				<li><code style="display:inline-block;text-align:left;width:40px;">-&gt;</code><span style="width:20px;display:inline-block"></span>from left to right</li>
				<li><code style="display:inline-block;text-align:left;width:40px;">into</code><span style="width:20px;display:inline-block"></span>from left to right</li>
				<li><code style="display:inline-block;text-align:left;width:40px;">&lt;</code><span style="width:20px;display:inline-block"></span>from right to left</li>
				<li><code style="display:inline-block;text-align:left;width:40px;">&lt;-</code><span style="width:20px;display:inline-block"></span>from right to left</li>
			</ul>
			<strong>Example:</strong><br>
			<code>{% set 123 into $num %}</code> - Set variable <code>$num</code> to <code>123</code><br>
			<code>{% set $str &lt; "Short text" %}</code> - Set variable <code>$str</code> to <code>Short text</code>
		</p>
		<h3 id="chapter_2_1_3">2.1.3. <code>add</code> / <code>sub</code></h3>
		<p>
			The <code>add</code> statement adds a value to a number variable or adds an element to a list and requires 3
			arguments: source, direction, and destination. The direction must always be the middle argument and always
			point to the destination. Possible directional arguments are:
			<ul>
				<li><code style="display:inline-block;text-align:left;width:30px;">&gt;</code><span style="width:20px;display:inline-block"></span>from left to right</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">-&gt;</code><span style="width:20px;display:inline-block"></span>from left to right</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">to</code><span style="width:20px;display:inline-block"></span>from left to right</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">&lt;</code><span style="width:20px;display:inline-block"></span>from right to left</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">&lt;-</code><span style="width:20px;display:inline-block"></span>from right to left</li>
			</ul>
			<strong>Example:</strong><br>
			<code>{% add 123 to $num %}</code> - (If $num is a number) Add <code>123</code> to variable <code>$num</code><br>
			<code>{% add $list &lt; "Short text" %}</code> - (If $list is a list) Adds <code>Short text</code> to list <code>$list</code><br>
			<code>{% add -123 to $num %}</code> - (If $num is a number) Subtract <code>123</code> from variable <code>$num</code>
		</p>
		<p>
			To subtract a number use a <code>sub</code> statement like this:<br>
			<strong>Example:</strong><br>
			<code>{% sub 123 from $num %}</code> - ($num has to be a number) Subtract <code>123</code> from variable <code>$num</code>
		</p>
		<h3 id="chapter_2_1_4">2.1.4. Conditions</h3>
		<p>
			With conditions sections can be executed and/or printed under certain conditions. Here, two variables are
			compared with each other. The <code>if</code> statement needs 3 arguments: 2 variables to be compared and
			one comparison operator. The comparison operator always stands between the two variables. A section ends
			with an <code>endif</code> or <code>else</code> statement. The <code>else</code> statement immediately
			starts a new section that is executed and/or printed if the previous <code>if</code> statement was not true.<br>
			Possible comparison operators:<br>
			For numbers:
			<ul>
				<li><code style="display:inline-block;text-align:left;width:30px;">&gt;</code><span style="width:20px;display:inline-block"></span>variable 1 greater than variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">&lt;</code><span style="width:20px;display:inline-block"></span>variable 1 less than variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">&gt;=</code><span style="width:20px;display:inline-block"></span>variable 1 greater than or equal to variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">&lt;=</code><span style="width:20px;display:inline-block"></span>variable 1 less than or equal to variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">=</code><span style="width:20px;display:inline-block"></span>variable 1 equals variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">==</code><span style="width:20px;display:inline-block"></span>variable 1 equals variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">!</code><span style="width:20px;display:inline-block"></span>variable 1 not equal to Variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:30px;">!=</code><span style="width:20px;display:inline-block"></span>variable 1 not equal to variable 2</li>
			</ul>
			For strings:
			<ul>
				<li><code style="display:inline-block;text-align:left;width:100px;">=</code><span style="width:20px;display:inline-block"></span>variable 1 equals variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:100px;">==</code><span style="width:20px;display:inline-block"></span>variable 1 equals variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:100px;">!</code><span style="width:20px;display:inline-block"></span>variable 1 not equal to variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:100px;">!=</code><span style="width:20px;display:inline-block"></span>variable 1 not equal to variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:100px;">includes</code><span style="width:20px;display:inline-block"></span>variable 1 contains variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:100px;">startsWith</code><span style="width:20px;display:inline-block"></span>variabel 1 starts with variable 2</li>
				<li><code style="display:inline-block;text-align:left;width:100px;">endsWith</code><span style="width:20px;display:inline-block"></span>variable 1 ends with variable 2</li>
			</ul>
			For lists and arrays:
			<ul>
				<li><code style="display:inline-block;text-align:left;width:100px;">includes</code><span style="width:20px;display:inline-block"></span>variable 1 contains variable 2</li>
			</ul>
			<strong>Example:</strong><br>
<pre>{% if $num &gt; 5 %}
	{% print $num %} is greater than 5
{% else %}
	{% if $num &lt; 3 %}
		{% print $num %} is even lesser than 3
	{% else %}
		{% print $num %} is lesser or equal to 5
	{% endif %}
{% endif %}</pre>
		</p>
		<h3 id="chapter_2_1_5">2.1.5. <code>wait</code></h3>
		<p>
			The <code>wait</code> statement expects a time value in seconds and will wait this time before processing
			the rest of the command. The content that was generated until this statment will be send immediately.
			So you can use <code>wait</code> to split a long message into multiple messages by setting the time to
			<code>0</code>.<br>
			<strong>Example:</strong><br>
			<code>{% wait 10 %}</code> - Sends the part that was generated up to the statement and will wait for 10 seconds.<br>
			<code>{% wait 0 %}</code> - Sends the part that was generated up to the statement and will continue immediately.
		</p>
		<h3 id="chapter_2_1_6">2.1.6. <code>delete</code></h3>
		<p>
			The delete statment can be used to delete contents from variables. The variable itself will not be deleted.
			Usefull is this delete statment therefore for lists and sssociative arrays to delete entries or clear
			lists and arrays.<br>
			<strong>Example:</strong><br>
			<code>{% delete $list %}</code> - If $list is a list: emptys the list<br>
			<code>{% delete $array %}</code> - If $array is an array: emptys the array<br>
			<code>{% delete $list[2] %}</code> - If $list is a list: deletes the third entry of the list<br>
			<code>{% delete $array[abc] %}</code> - If $array is an array: deletes the entry with the key abc
		</p>
		<h3 id="chapter_2_2">2.2. Variables</h3>
		<p>
			Variables are placeholders that can contain strings, numbers, associative arrays, and lists. There are
			several types of variables that are usually distinguished by different signs. Strings and numbers can be
			used as variables with no variable sign. However, strings with spaces must be enclosed in quotation marks
			(") so that they are recognized as a single argument.
		</p>
		<h3 id="chapter_2_2_1">2.2.1. Argument</h3>
		<p>
			Arguments depend on the trigger. For a classic user command, they contain strings that are specified with
			the command and separated by spaces. Arguments with spaces can also be enclosed in quotation marks (").<br>
			Arguments cannot be overridden with <code>add</code> or <code>set</code>.<br>
			Arguments are given with the sign <code>%</code> and the subsequent position index of the argument. Position
			index begin with 0. The command trigger is included in the arguments, and can be spread over multiple
			arguments should it contain a space. For negative positions, arguments are chosen starting from the back.
			You can get a section with multiple arguments by specifying another position separated by a comma. It will
			then output a section starting from the first position to (but not including) the second position and
			joining it with spaces. if the second position is empty, everything is called to the end.<br>
			<strong>Example:</strong><br>
			User input: <code>!test This is a "test command"</code><br>
			<code>%0</code> ➡ <code>!test</code><br>
			<code>%2</code> ➡ <code>is</code><br>
			<code>%4</code> ➡ <code>test command</code><br>
			<code>%1,3</code> ➡ <code>This is</code><br>
			<code>%-3,-1</code> ➡ <code>is a</code><br>
			<code>%-3,</code> ➡ <code>is a test command</code><br>
			<br>
			For a subscription trigger, <code>%1</code> is the number of months the user has already subscribed to the channel.<br>
			For host triggers, <code>%1</code> is the number of viewers hosted.
		</p>
		<h3 id="chapter_2_2_2">2.2.2. Context</h3>
		<p>
			Context variables are independent of user input and can not be changed with <code>add</code> or <code>set</code>.
			Context variables begin with a slash (/). The following context variables are available:<br>
			<ul>
				<li><code>/game</code> : The name of the current game, which is associated with the stream. Can be empty.</li>
				<li><code>/sender</code> : The name of the user who issued a command. For hosts, this is the hoster, follower for follows, and subscribers for subscriptions.</li>
				<li><code>/senderlogin</code> : The login name of the user who issued a command. For hosts, this is the hoster, follower for follows, and subscribers for subscriptions.</li>
				<li><code>/msg-uid</code> : The unique message ID. Available only with classic user commands and only with messages that were not sent from the tool.</li>
				<li><code>/date</code> : The current date. Formatting is based on language settings.</li>
				<li><code>/time</code> : The current time. Formatting is based on language settings.</li>
				<li><code>/datetime</code> : The current date with the current time. Formatting is based on language settings.</li>
				<li><code>/random</code> : A floating-point number between 0 and 1 (exclusive). If /random is used as a list index, a random list entry is selected.</li>
				<li><code>/uptime</code> : Gives you hours, minutes and seconds since the stream started, formated based on your language setting.</li>
				<li><code>/points</code> : Contains user points as associative array. The login name of the user is used as index. Eg.: <code>/points[/senderlogin]</code></li>
			</ul>
		</p>
		<h3 id="chapter_2_2_3">2.2.3. Storage</h3>
		<p>
			Storage variables are the most versatile variables. They can be defined themselves and are cross-command.
			They are the only ones that can be edited and support lists and associative arrays. Storage variables
			start with a <code>$</code> and are freely selectable, but may only contain letters and numbers. To access
			lists or arrays, a variable is written in square brackets behind it (e.g., <code>$list[2]</code> or <code>$list[/random]</code>).<br>
			Storage variables can be edited using the variable editor.
		</p>
		<h3 id="chapter_2_2_4">2.2.4. HTTP request</h3>
		<p>
			HTTP request can be used to further enhance the possibilities of the chatbot. For HTTP requests, an HTTP
			request is sent to the specified URL and the response is returned as it is. It should therefore be ensured
			that this is always pure text and contains no formatting. The results are not cached. If the same URL is
			used in another statement, a new query is started. To buffer the result, a storage variable can be used.<br>
			HTTP queries will be preceded by one of these 4 emojis: 🔗, 🌎, 🌍 or 🌏. HTTP queries are canceled after
			10 seconds.<br>
			<strong>Example:</strong><br>
			<code>{% print 🔗https://twitch.center/customapi/quote?token=xxxxx&data={{§%1,§}} %}</code>
		</p>
		<h3 id="chapter_2_2_5">2.2.5. Read/Write File</h3>
		<p>
			Similar to the HTTP request you can read from files by putting the emoji 📝 in front of an absolute path to
			a file. Other than the HTTP request you are able to write into a file using that method. Since line breaks
			are not supported you can use a variable index to write to or read from specific rows (0-indexed: meaning
			the first row has index 0, the second row index 1 and so on). Specifiying no index will always read or write
			the first line.<br>
			<strong>Example:</strong><br>
			<code>{% print 📝C:\path\to\file.txt %}</code> - prints the contents of the first row of the file<br>
			<code>{% set $num > 📝C:\path\to\file.txt[1] %}</code> - writes the contents of $num into the second row of the file<br>
			<code>{% add $str > 📝C:\path\to\file.txt %}</code> - appends the contents of $str to the first row of the file
		</p>
		<h3 id="chapter_2_3">2.3. Preprocessing</h3>
		<p>
			To generate even more complex output, special <code>print</code> statements can be executed before the rest
			is processed. For this purpose, variables are simply put in double curly brackets.<br>
			<strong>Example:</strong><br>
			<code>{{ /game }}</code><br>
			<code>{{$num}}</code><br>
			<br>
			This makes it possible, among other things, to import complete instructions from variables. URLs can also be
			generated for the HTTP request. In order to avoid problems, URL components should be encoded. To encode the
			output of a pre-statement for URLs, the statement after the curly brackets is additionally enclosed with §
			(e.g. <code>{{§ $string §}}</code>).
		</p>
	</body>
</html>